.n-nav{
    width: 100%;
    position: fixed;
    height: 4.3rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}
.n-left{
 display: flex;

 align-items: center;
 justify-content: center;
 gap: 1rem;
}
.n-left>span{
  font-weight: 700;
  color: var(--seccolor);
  font-family: 'Efimah';
}
.n-right{
   display: flex;
   align-items: center;
   justify-content: center;
   gap:2rem;
}

.n-list>*{
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  nav ul li a{
    gap: 2rem;
  }
li:hover{
  cursor: pointer;
  /* border-radius: 7px; */
  /* padding: 4px 7px; */
  color: var(--seccolor2);
  /* background-color: var(--maincolor); */
  transition: .6s;
}


  @media screen and (max-width: 830px) {
    .n-list>*{
      gap: 1rem;
  
  }
}
@media screen and (max-width: 680px) {
  .n-list {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .n-nav {
    height: 3rem;
  }
  .n-left{
    gap: 10px;
   }
   .n-left>span{
     font-size: 18px;
   }
   .n-button{
     font-size: 15px;
   }
}