.toggle{
    display: flex;
    justify-content: space-between;
    border: 3px solid var(--seccolor);
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
}
.toggle>*{
    width: 1rem;
    height: 1rem;
    color: var(--orange);
}
.t-button{
    border-radius: 100%;
    background-color: var(--seccolor2);
    position: absolute;
}
@media screen and (max-width: 580px) {
    .toggle{
        padding: 2px;
    }
    .toggle>*{
        width: 16px;
        height: 16px;    
    }
}